# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# owners will be requested for review when someone opens a
# pull request.
* @ghost # ghost just means "no users"

/calico-policies/ @bradbehle @Tamas-Biro1 @kersten1 @derekpoindexter @mihivagyok @ctrath
/akamai/ @attiss @lcopi @jared-hayes-dev @warned @theodoracheng @szombi @SzekeresB @SzucsAti @marcsello
/ingress-config/ @attiss @lcopi @jared-hayes-dev @warned @theodoracheng @szombi @SzekeresB @SzucsAti @marcsello
